<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>How to Play</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="panel">
      <h3>Intro</h3>
      <p>ForeWord came about from a puzzle my family got for Christmas last year.
        It consists of a few dozen plastic tiles, each containing a single letter.
        Also included is a set of about 50 cards with 16 letters. The object of
        the game is to arrange the letter tiles matching the letters on the card
        into a "word square", in which each row and column of the square spell
        out a common English word.
      </p>
  
      <h3>How to Play</h3>
      <p>
        First, decide whether you want to try the standard 4x4 square, or an
        easier 3x3 square, and tap the appropriate button. When you start,
        you will be presented with an alphabetized list of letters and a
        square grid. Arrange those letters in any way you choose, trying to
        make either four or eight words. The top of the puzzle will let you 
        know which. 
      </p>
      <p>
        The number of moves you make will be counted, but is not stored
        anywhere. Once you have arranged the letters properly, you have 
        won the game. You can then move onto the next one.
      </p>
      <p>The game will keep track of the highest level you have achieved,
        and will not show you games you have already completed.
      </p>
    </div>
  </ion-content>