<ion-header>
  <ion-toolbar>
    <ion-title>
      Wurdz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="game-wrapper" padding>
    <ion-grid class="game-board" padding>
      <ion-row *ngFor="let row of gameBoard; let r=index">
        <ion-col class="board" *ngFor="let col of row; let c=index">
          <div id="board-{{r}}-{{c}}" (dragenter)="dragEnter($event)" (dragexit)="dragExit($event)" (dragleave)="dragLeave($event)"
            (dragend)="dragEnd($event)" (drop)="drop($event)" (dragover)="dragOver($event)" (dragstart)="dragStart($event)"
            [draggable]="canDrag(col)">
            <img [src]="url(col)" [alt]="col" class="tile-image">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="shelf">
      <ng-container *ngFor="let row of letters; let r=index">
        <ng-container *ngFor="let col of row; let c=index">
          <div class="tile">
            <div id="tiles-{{r}}-{{c}}" [class]="col" (dragenter)="dragEnter($event)" (dragexit)="dragExit($event)"
            (dragleave)="dragLeave($event)" (dragend)="dragEnd($event)" (drop)="drop($event)" (dragover)="dragOver($event)"
            (dragstart)="dragStart($event)" [draggable]="canDrag(col)">
            <img [src]="url(col)" [alt]="col" class="tile-image">
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ion-content>