<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button>Puzzle:
        {{puzzle.level}}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        Moves: {{totalMoves}}
      </ion-button>
    </ion-buttons>
    <ion-title>{{puzzle.size}} Words</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="game-wrapper size-{{gameSize}}" [class.isDragging]="isDragging">
    <h3 class="title">

    </h3>

    <div class="flex-container game-board" padding (dragover)="dragOver($event)" (dragend)="dragEnd($event)">
      <ng-container *ngFor="let row of gameBoard; let r=index">
        <div class="flex-cell board" *ngFor="let letter of row; let c=index">
          <div class="flex-item board-tile" (dragenter)="dragEnter($event)" (dragleave)="dragLeave($event)" (drop)="drop($event, 'board', r, c)"
            (dragstart)="dragStart($event, 'board', r, c, letter)" [draggable]="letter!='*'">
            <img [src]="url(letter)" [alt]="letter" class="tile-image">
          </div>
        </div>
      </ng-container>
    </div>

    <div *ngIf="!gameOver" class="shelf" (drop)="drop($event, 'shelf')" (dragenter)="dragEnter($event)" (dragleave)="dragLeave($event)"
      (dragover)="dragOver($event)">
      <ng-container *ngFor="let e of letters; let i=index">
        <div class="tile">
          <div (dragstart)="dragStart($event, 'shelf', i, -1, e)" [draggable]="true">
            <img [src]="url(e)" [alt]="e" class="tile-image">
          </div>
        </div>
      </ng-container>
    </div>
    <div class="title" *ngIf="gameOver">
      <h2>You Win!</h2>
      <ion-button size="large" color="primary" (click)="nextLevel()">Next Game</ion-button>
    </div>
  </div>
  <ion-fab *ngIf="!gameOver" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="prefs-button">
      <ion-icon size="mini" md="settings-sharp" ios="settings-outline" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="newGame()" [disabled]="!totalMoves">
        <ion-icon color="dark" md="refresh-sharp" ios="refresh-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="nextLevel()" *ngIf="isDebugging">
        <ion-icon color="dark" md="chevron-forward-sharp" ios="chevron-forward-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="prevLevel()" *ngIf="isDebugging">
        <ion-icon color="dark" md="chevron-back-sharp" ios="chevron-back-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="winLevel()" *ngIf="isDebugging">
        <ion-icon color="dark" md="arrow-redo-sharp" ios="arrow-redo-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="startPage()">
        <ion-icon color="dark" md="home-sharp" ios="home-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="isMuted" (click)="isMuted = false">
        <ion-icon color="dark" md="volume-off-sharp" ios="volume-off-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="!isMuted" (click)="isMuted = true">
        <ion-icon color="dark" md="volume-high-sharp" ios="volume-high-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>