<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Game Board</h1>
  <ion-grid>
    <ion-row *ngFor="let row of gameBoard; let r=index">
      <ion-col class="tile" *ngFor="let col of row; let c=index">
        <div id="board-{{r}}-{{c}}" (drop)="drop($event)" (dragover)="dragOver($event)" (dragstart)="dragStart($event)"
          draggable="true">
          {{col}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h1>Available Tiles</h1>
  <ion-grid>
    <ion-row *ngFor="let row of letters; let r=index">
      <ion-col class="tile" *ngFor="let col of row; let c=index">
        <div id="tiles-{{r}}-{{c}}" (drop)="drop($event)" (dragover)="dragOver($event)" (dragstart)="dragStart($event)"
          draggable="true">
          {{col}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>